* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --red-orange-color-wheel: hsl(17, 96%, 48%);
  --middle-blue-green: hsl(167, 45%, 72%);
  --smokey-black: hsl(0, 0%, 7%);
  --spanish-gray: hsl(0, 0%, 60%);
  --granite-gray: hsl(0, 0%, 40%);
  --tan-crayola: hsl(27, 46%, 58%);
  --light-gray: hsl(0, 0%, 80%);
  --black_10: hsla(0, 0%, 0%, 0.1);
  --black_25: hsla(0, 0%, 0%, 0.25);
  --black_50: hsla(0, 0%, 0%, 0.4);
  --black_70: hsla(0, 0%, 0%, 0.7);
  --cultured: hsl(220, 16%, 96%);
  --manatee: hsl(218, 11%, 65%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
}

.section {
  width: 100%;
  min-height: 100vh;
  padding: 40px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header {
  padding-top: 100px;
}

.container {
  max-width: 1250px;
  width: 100%;
  display: flex;
}


/*__________ NAV _____________*/

#nav {
  padding: 20px 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--white);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  transition: 0.5s;
}

#nav.active {
  box-shadow: 0 0 10px 5px var(--black_10);
}

#nav>.navCont {
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.navCont>.logo>h3 {
  cursor: pointer;
  font-size: 2em;
  font-weight: normal;
  color: var(--smokey-black);
}

.navCont>.links {
  display: flex;
  align-items: center;
  gap: 45px;
}

.navCont>.links>li {
  font-size: 1.1em;
  color: var(--smokey-black);
  list-style: none;
  cursor: pointer;
  position: relative;
}

.navCont>.links>li::after {
  content: '';
  width: 100%;
  height: 2px;
  background: var(--tan-crayola);
  position: absolute;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%) scale(0);
  transition: all 0.5s;
}

.navCont>.links>li:hover::after {
  transform: translateX(-50%) scale(1);
}

.navCont>.nav-icons {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navCont>.nav-icons>i {
  font-size: 1.4em;
  cursor: pointer;
  color: var(--smokey-black);
  transition: all 0.5s;
}

.navCont>.nav-icons>i:hover {
  color: var(--tan-crayola);
}

.navCont>.nav-icons>i:nth-child(2),
.navCont>.nav-icons>i:nth-child(3) {
  position: relative;
}

.navCont>.nav-icons>i>sub {
  position: absolute;
  bottom: -8px;
  right: -8px;
  font-size: 0.5em;
  background: var(--tan-crayola);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
}


.navCont>.nav-icons>i:hover>sub {
  background-color: var(--smokey-black);
}

#responsiveMenu {
  display: none;
}

.nav-icons>.menuBtn {
  display: none;
}


/*__________ HEADER ____________ */

.heder-main-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.heder-main-container>.someCont {
  display: flex;
  flex-flow: row nowrap;
  gap: 20px;
  width: 100%;
}

.heder-main-container .someChild {
  height: 100%;
  position: relative;
  padding: 40px 25px;
  overflow: hidden;
}

.heder-main-container .someChild>h3 {
  font-size: 1.5em;
  font-weight: normal;
  cursor: pointer;
  transition: all 0.5s;
}

.heder-main-container .someChild>h3:hover {
  color: var(--tan-crayola);
}

.heder-main-container .someChild>p {
  font-size: 1.1em;
  margin-top: 10px;
}

.heder-main-container .someChild>img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  transform: scale(1);
  transition: all 0.5s;
}

.heder-main-container .someChild:hover>img {
  transform: scale(1.05);
}

.heder-main-container>.down>.someChild {
  height: 180px;
}

.heder-main-container>.up>.someChild {
  height: 400px;
}

.heder-main-container>.up>.norm {
  width: 25%;
}

.heder-main-container>.up>.great {
  width: 50%;
}

.down>.down-card-header {
  width: 50%;
}

/* Main  */

.about {
  flex-direction: column;
  gap: 60px;
}

.title {
  display: flex;
  flex-direction: column;
  gap: 25px;
  gap: 25px;
  max-width: 900px;
  width: 100%;
  text-align: center;
}

.title > h2 {
  font-family: 'Mr De Haviland', cursive;
  font-size: 3.5em;
  color: var(--smokey-black);
  font-weight: 100;
}

.title > p {
  font-size: 1.1em;
  color: var(--black_70);
  line-height: 27px;
}

.main-down {
  flex-direction: column;
  position: relative;
  cursor: pointer;
}

.main-down > img {
  width: 100%;
  max-height: 480px;
  height: 100%;
}

.esim {
  background-color: rgba(0, 0, 0, 0.50);
  position: absolute;
  max-width: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.main-down:hover > .esim {
  opacity: 1;
  visibility: visible;
}

.esim > ion-icon {
  font-size: 6vw;
  color: var(--white);
}

/*Main cards  */
#shops {
  flex-direction: column;
  gap: 70px;
}

.shopContUp {
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.shopContUp > .shopTitle {
  font-size: 2.2em;
  color: var(--smokey-black);
  font-weight: 100;
}

.shopContUp > .right-aside > .filterProductName {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
}

.right-aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.right-aside > .search {
  position: relative;
  max-width: 500px;
  width: 100%;
}

.right-aside > .search > input {
  width: 100%;
  padding: 12px 5px;
  padding-right: 120px;
  outline: none;
  font-size: 1.1em;
  color: var(--smokey-black);
  border: 1px solid var(--smokey-black);
}

.right-aside > .search > button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 3px;
  padding: 10px 30px;
  border: none;
  font-size: 1.1em;
  border-radius: 1px;
  background-color: rgb(39, 39, 39);
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}

.right-aside > .search > button:hover {
  background-color: var(--tan-crayola);
  color: var(--white);
}

.right-aside > .filterProductName > .link.active {
  color: var(--tan-crayola);
}

.right-aside > .filterProductName > p {
  cursor: pointer;
  color: var(--smokey-black);
  transition: all 0.5s;
}

.right-aside > .filterProductName > p:hover {
  color: var(--tan-crayola);
}

.shopMainCont {
  gap: 30px;
  justify-content: space-between;
  flex-flow: row wrap;
}

.shopMainCont > .card {
  width: 290px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  display: flex;
  align-items: center;
}

.shopMainCont > .card > .cardImg {
  width: 100%;
  height: 290px;
  position: relative;
  transition: all 0.5s;
}

.shopMainCont > .card > .cardImg > img {
  width: 100%;
  height: 100%;
  background-size: cover;
}

.shopMainCont > .card > .cardImg > .hoverEfect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: var(--black_10);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
}

.shopMainCont > .card > .cardImg:hover > .hoverEfect {
  visibility: visible;
  opacity: 1;
}

.shopMainCont > .card > .cardImg > .hoverEfect > .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}


.shopMainCont > .card > .cardImg > .hoverEfect > .icons > .icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.shopMainCont > .card > .cardImg > .hoverEfect > .icons > .icon > ion-icon {
  font-size: 1.5em;
  color: var(--smokey-black);
  transition: all 0.5s;
}

.shopMainCont > .card > .cardImg > .hoverEfect > .icons > .icon:hover > ion-icon {
  color: var(--black_50);
}

.shopMainCont > .card > .content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  flex-direction: column;
}

.shopMainCont > .card > .content > h3 {
  font-size: 1.2em;
  font-weight: normal;
  color: var(--smokey-black);
  cursor: pointer;
  transition: all 0.5s;
}

.shopMainCont > .card > .content > h3:hover {
  color: var(--tan-crayola);
}

.shopMainCont > .card > .content > p {
  font-size: 1.1em;
  color: var(--smokey-black);
}

@media screen and (max-width: 1300px) {
  .container {
    max-width: 1000px;
    width: 100%;
  }
}


@media screen and (max-width: 1000px) {
  .container {
    max-width: 750px;
    width: 100%;
  }

  .navCont > .links {
    gap: 20px;
  }

  .navCont > .links > li {
    font-size: 1.1em;
  }

  .heder-main-container > .up > .someChild {
    max-width: calc(100% / 3);
    width: 100%;
  }
}

@media screen and (max-width: 785px) {
  .container {
    max-width: 750px;
    width: 100%;
  }

  .navCont > .links {
    display: none;
  }

  .navCont > .links > li {
    font-size: 1em;
  }

  #responsiveMenu {
    display: flex;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    visibility: hidden;
    transition: all 0.5s;
  }

  .nav-icons > .menuBtn {
    display: block;
  }

  #responsiveMenu.active {
    visibility: visible;
  }

  #responsiveMenu > .vse {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--black_50);
    z-index: -1;
    transition: all 0.5s;
    opacity: 0;
  }

  #responsiveMenu.active > .vse {
    opacity: 1;
  }

  #responsiveMenu.active > .aside {
    transform: translateX(0);
  }

  #responsiveMenu > .aside {
    width: 400px;
    height: 100vh;
    background: var(--white);
    padding: 40px 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    transform: translateX(-100%);
    transition: all 0.5s;
  }

  #responsiveMenu > .aside > .aside-up {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  #responsiveMenu > .aside > .aside-up > .logo > h3 {
    font-size: 2em;
    font-weight: normal;
    color: var(--smokey-black);
  }

  #responsiveMenu > .aside > .aside-up > ion-icon {
    font-size: 2.7em;
    color: var(--smokey-black);
    cursor: pointer;
    transition: all 0.5s;
  }

  #responsiveMenu > .aside > .aside-up > ion-icon:hover {
    transform: rotate(180deg);
    color: var(--tan-crayola);
  }

  #responsiveMenu > .aside > .aside-main {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  #responsiveMenu > .aside > .aside-main > .link {
    width: 100%;
    padding: 10px 0;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
  }

  #responsiveMenu > .aside > .aside-main > .link:hover {
    background-color: rgb(238, 238, 238);
  }

  #responsiveMenu > .aside > .aside-main > .link > span {
    color: var(--smokey-black);
    font-size: 1.5em;
  }

  #responsiveMenu > .aside > .aside-main > .link:hover>span {
    color: var(--tan-crayola);
  }
}


@media screen and (max-width: 785px) {
  .container {
      max-width: 750px;
      width: 100%;
  }

  .shopContUp {
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 730px) {
  .container {
    max-width: 500px;
    width: 100%;
  }

  .heder-main-container > .someCont {
    flex-flow: row wrap;
  }

  .heder-main-container > .someCont > .someChild {
    max-width: 100%;
    width: 100%;
  }

  .heder-main-container > .up > .norm {
    width: 240px;
  }

  .heder-main-container > .up > .great {
    order: 3;
    width: 100%;
  }

  .shopMainCont > .card {
    width: 230px;
  }

  .shopMainCont > .card  > .cardImg {
    height: 230px;
  }
}

@media screen and (max-width: 586px) {
  .shopMainCont {
    justify-content: center;
  }
  .shopMainCont > .card {
    max-width: 400px;
    width: 100%;
  }

  .shopMainCont > .card  > .cardImg {
    max-height: 400px;
    height: 100%;
  }
}

@media screen and (max-width: 558px) {
  .heder-main-container > .up > .norm {
    width: 100%;
  }

  .title {
    padding: 0 30px;
  }

  .title > h2 {
    font-size: 3.7em;
  }

  .title > p {
    font-size: 1em;
  }
}


@media screen and (max-width: 500px) {
    .right-aside > .filterProductName > span {
        display: none;
    }

    .shopMainCont {
      gap: 50px;
    }
}

@media screen and (max-width: 450px) {
  #responsiveMenu > .aside {
    width: 100%;
  }

  .about > .title > p {
    font-size: 0.9em;
  }
}
